/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: pink;
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  justify-content: center;
  align-items: center;
}


/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container 
{ display: flex;
  flex-direction: column;
  justify-content:flex-start; 
  border-radius: 4rem;
  width: 40rem;

  align-items:center;
  align-content: center;
  background-color:whitesmoke;
  margin-top:15rem;
  margin-left: 30rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
 
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.text {
  margin-left: 2rem;
  margin-right: 2rem; 
  align-items:center;

}

.header-format {
  background-color: brown;
}

.you-got-this {
  text-align: center;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  color:#f1faee;
}

.blurb {
  align-items: center;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}